h1{

    text-align: center;
}
li{
    text-align: center;
    font-size:large;
    background-color: rgb(252, 134, 193);
}
h2{
    text-align: center;
    width: 24px;
    height: 24px;
    display: inline-block;
}
imagem smashbox.png{
    width: 24px;
    height: 24px;
    display: inline-block;
}
.smash{
    width:30%
}
